/* .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    height: 80vh;
    border-radius: none;
    border: none;
    padding: 0;
    background: black;
    box-shadow: 15px 8px 15px 0px rgb(0 0 0 / 40%);
    z-index: 999;
} */

/* .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
} */